html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

.transaction-list .form-group input {
    width: 100%;
}

.pagination {
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.navbar-brand i {
    color: #28a745; /* Màu xanh lá, tùy chỉnh theo ý thích */
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.pagination .page-item.disabled .page-link {
    cursor: not-allowed;
    opacity: 0.6;
}

.badge {
    font-size: 1rem;
    padding: 0.5em 1em;
}

/* Đẩy Toastr xuống dưới header */
.toast-top-right {
    top: 80px !important; /* Cách đỉnh 70px, điều chỉnh theo chiều cao header */
}