<div class="container">
    <div class="row">
        <!-- Phần thương hiệu -->
        <div class="col-md-4 col-sm-12 text-center-xs">
            <h5 class="mb-3">FinSnap</h5>
            <p>Trao quyền cho bạn kiểm soát tài chính với những hiểu biết thông minh.</p>
        </div>
        <!-- Liên kết nhanh -->
        <div class="col-md-4 col-sm-12 text-center-xs">
            <h5 class="mb-3">Liên kết nhanh</h5>
            <ul class="list-unstyled">
                <li><a asp-controller="DashboardManagement" asp-action="Index" class="animate__animated animate__fadeIn">Tổng quan</a></li>
                <li><a asp-controller="TransactionsManagement" asp-action="Index" class="animate__animated animate__fadeIn">Giao dịch</a></li>
                <li><a asp-controller="Home" asp-action="Privacy" class="animate__animated animate__fadeIn">Chính sách bảo mật</a></li>
                <li><a asp-controller="Home" asp-action="About" class="animate__animated animate__fadeIn">Giới thiệu</a></li>
                <li><a asp-controller="Home" asp-action="Contact"  class="animate__animated animate__fadeIn">Liên hệ</a></li>
            </ul>
        </div>
        <!-- Liên hệ và mạng xã hội -->
        <div class="col-md-4 col-sm-12 text-center-xs">
            <h5 class="mb-3">Liên hệ</h5>
            <p><i class="fas fa-envelope"></i>support@finsnap.com.</p>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank" class="animate__animated animate__bounceIn"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank" class="animate__animated animate__bounceIn"><i class="fab fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank" class="animate__animated animate__bounceIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <hr style="border-color: #ecf0f1; opacity: 0.2;" />
    <div class="row">
        <div class="col-12 text-center">
            <p class="mb-0">© 2025 FinSnap. Mọi quyền được bảo lưu.</p>
        </div>
    </div>
</div>